* {margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}

/* ---------------- CABEÇALHO (INÍCIO) ------------- */

header {
    background-color: #7030a0;
    width: 100%;
    height: 70px;
}

.logo {
    position: absolute;
    margin-left: -151px;
    margin-top: -16px;
    transform: scale(0.4);
}

.search-box {
    position: absolute;
    top: 17px;
    right: 250px;
    background-color: white;
    height: 25px;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-text {
    background: none;
    border: 0;
    outline: 0;
    width: 750px;
    font-size: 15px;
    padding: 0;
    transition: 0.4s;
    padding-left: 3px;
}

::-webkit-input-placeholder {
    font-size: 15px;
    color: #aeaeae;
}

.search-btn {
    color: #0DCAF0;
    transform: scale(1.2);
}

.entrar {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 15px;
    right: 110px;
}

.entrar-btn {
    text-decoration: none;
    border: 0;
    width: 90px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px #aeaeae;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 20px;
    background-color: #00b191;
}

/* ---------------- BOTÃO SAIR (INÍCIO) ------------- */

.sair {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 15px;
    right: 110px;
}

.sair-btn {
    text-decoration: none;
    border: 0;
    width: 45px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px #aeaeae;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 20px;
    background-color: #00b191;
}

/* ---------------- BOTÃO SAIR (FIM) --------------- */

.cart {
    position: absolute;
    top: 26.5px;
    right: 65px;
    transform: scale(1.5);
}

.cart-btn {
    color: #00b191;
}

/* --------------- CABEÇALHO (FIM) ---------------- */

/* --------------- NAVEGAÇÃO (INÍCIO) ------------- */

#links-navegacao a {
    text-decoration: none;
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    color: #424242;
}

#nav-produtos a{left: 35px;}

#nav-parceiros a{left: 275px;}

#nav-torne-se a{
    color: #00b191;
    text-decoration: underline;
    right: 65px;
}

/* --------------- NAVEGAÇÃO (FIM) ------------- */

/* --------------- ANÚNCIO (INÍCIO) ------------ */

#anuncio {
    background-color: #7030a0;
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 80px;
    margin-right: 905px;
    height: 210px
}

#anuncio-texto a{
    color: #65E4A3;
}

#foto-01 img{
    position: absolute;
    margin-top: -370px;
    width: 943px;
    height: 370px;
    margin-left: 400px;
    margin-right: 0px;
}

/* --------------- ANÚNCIO (FIM) -------------- */

/* ------------- DESTAQUES (INÍCIO) ----------- */

#destaques {
    font-size: 26px;
    font-weight: bold;
    color: #424242;
    margin-left: 60px;
    margin-right: 60px;
    border-bottom: 3px solid #65E4A3;
}

.container-destaques {
    display: flex;
    justify-content: space-evenly;
}

.container-destaques a {
    text-decoration: none;
}

.container-destaques i {
    color: #7030a0;
}

.bloco-link {
    display: flex;
    justify-content: center;
    border: 3px solid #7030a0;
    border-radius: 20px;
    width: 250px;
    height: 180px;
}

.bloco-link p {
    font-weight: bold;
    color: #424242;
    padding-top: 145px;
}

#transporte-icon {
    position: absolute;
    margin-top: 65px;
    transform: scale(4);
}

.bloco-link-circulo {
    position: absolute;
    margin-top: 20px;
    width: 95px;
    height: 95px;
    border-radius: 100%;
    border: 4px solid #65E4A3;
}

#livraria-icon {
    position: absolute;
    margin-top: 65px;
    margin-right: 5px;
    transform: scale(4);
}

#artes-icon {
    position: absolute;
    margin-top: 67px;
    margin-left: 1px;
    transform: scale(4);
}

#esportes-icon {
    position: absolute;
    margin-top: 66px;
    margin-left: 1px;
    transform: scale(4);
}

#cashback-icon {
    position: absolute;
    margin-top: 67px;
    transform: scale(4);
}

#cantina-icon {
    position: absolute;
    margin-top: 66px;
    margin-right: 4px;
    transform: scale(4);
}

/* ------------- DESTAQUES (FIM) ------------- */

/* --------- NOSSOS PLANOS + EMPRESAS (INÍCIO) ---------- */

.nossos-planos {
    background-color: #7030a0;
    height: 725px;
}

#nossos-planos-text {
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 3px 3px #424242;
    padding-top: 20px;
    padding-bottom: 8px;
    border-bottom: 3px solid #65E4A3;
    margin-left: 60px;
    margin-right: 60px;
}

.container-planos {
    display: flex;
    justify-content:space-evenly;
}

#planos {
    color: white;
    font-size: 28px;
    margin-top: 70px;
}

#planos-text {
    margin-left: 95px;
}

#planos-ponto {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #0DCAF0;
    margin-top: -11px;
    margin-left: 129px;
}

.planos-place {
    color: #0DCAF0;
    margin-left: 185px;
    margin-top: -25px;
}

#free-text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 45px;
    font-weight: bold;
    margin-left: 120px;
}

#premium-text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 45px;
    font-weight: bold;
    color: #daa520;
    margin-left: 75px;
}

.planos-janela {
    border-radius: 25px;
    background-image: linear-gradient(#f9f9f9 10%, #fecbff);
    margin-top: 15px;
    width: 350px;
    height: 430px;
}

.planos-janela-text {
    font-size: 17px;
    color: black;
    padding-top: 40px;
    margin-left: 30px;
}

.planos-janela-text i {
    transform: scale(2.5);
    color: #1ccb18;
}

.planos-janela-text p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -13px;
    margin-left: 27px;
}

#planos-link-free {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 100px;
    width: 130px;
    padding: 7px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #00b191;
    margin-left: 70px;
}

#premium-text-soma {
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    padding-top: 5px;
    margin-left: 130px;
}

#premium-text-maior {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 45px;
}

#planos-link-premium {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #daa520;
    margin-left: 62px;
}

/* --------- NOSSOS PLANOS EMPRESAS (INÍCIO) ---------- */

.nossos-planos-empresa {
    background-color: #7030a0;
    height: 642px;
}

.planos-empresa-text {
    text-align: center;
    margin-right: 60px;
}

.tipo-empresa {
    font-weight: bold;
}

#empresa-text-maior {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 75px;
}

.planos-link-empresa-contratar {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    width: 130px;
    padding: 7px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #00b191;
    margin-left: 75px;
}

/* ----------- NOSSOS PLANOS + EMPRESAS (FIM) ----------- */

/* ----------- PRODUTOS E SERVIÇOS / TRANSPORTE (INICIO) ----------- */

.produtos-servicos-links{
    background-color: #7030a0;
    height: 550px;
    width: 285px;
}

.produtos-servicos-links a {
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.produtos-servicos-navegacao {
    position: absolute;
    margin-top: 60px;
    margin-left: 90px;
    font-size: 20px;
}

.produtos-servicos-navegacao hr {
    width: 283px;
    margin-left: -90px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.produtos-servicos-1-transporte #ps-transporte {font-weight: bold;}

#ps-transporte {margin-left: -5px;}

#ps-papelaria {margin-left: 5px;}

#ps-livraria {margin-left: 14px;}

#ps-cursos-livres {margin-left: -15px;}

#ps-esporte {margin-left: 12px;}

#ps-decoracao {margin-left: -1px;}

#ps-artigos-decorativos {margin-left: -39px;}

#ps-alimentacao {margin-left: -8px;}

.ps-container-prestadores {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.ps-container-prestadores a {text-decoration: none;}

.bloco-prestadores_1 {
    border-radius: 10px;
    background-color: #dfc6f3;
    width: 900px;
    height: 120px;
    margin-left: 310px;
    margin-top: -540px;
}

.onibus {
    position: absolute;
    transform: scale(0.2);
    margin-left: -255px;
    margin-top: -165px;
}

.prestadores-text {
    position: absolute;
    color: black;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 200px;
}

.prestadores-text i {
    transform: scale(0.8);
    color: #daa520;
}

.bloco-prestadores_2 {
    border-radius: 10px;
    background-color: #dfc6f3;
    width: 900px;
    height: 120px;
    margin-left: 310px;
    margin-top: -405px;
}

.bloco-prestadores_3 {
    border-radius: 10px;
    background-color: #dfc6f3;
    width: 900px;
    height: 120px;
    margin-left: 310px;
    margin-top: -270px;
}

.bloco-prestadores_4 {
    border-radius: 10px;
    background-color: #dfc6f3;
    width: 900px;
    height: 120px;
    margin-left: 310px;
    margin-top: -135px;
}

/* ----------- PRODUTOS E SERVIÇOS / TRANSPORTE (FIM) ----------- */

/* ----------- PRODUTOS E SERVIÇOS / LIVRARIA (INÍCIO) ----------- */

.produtos-servicos-3-livraria #ps-livraria {font-weight: bold;}

.livros {
    position: absolute;
    transform: scale(0.18);
    margin-left: -305px;
    margin-top: -197px;
}

/* ----------- PRODUTOS E SERVIÇOS / LIVRARIA (FIM) ----------- */

/* ----------- PRODUTOS E SERVIÇOS / ESPORTE (INÍCIO) ----------- */

.produtos-servicos-5-esporte #ps-esporte {font-weight: bold;}

.futebol {
    position: absolute;
    transform: scale(0.12);
    margin-left: -515px;
    margin-top: -316px;
}

.basketball{
    position: absolute;
    transform: scale(0.15);
    margin-left: -388px;
    margin-top: -228px;
}

.volei{
    position: absolute;
    transform: scale(0.24);
    margin-left: -215px;
    margin-top: -130px;
}

.tenis{
    position: absolute;
    transform: scale(0.18);
    margin-left: -308px;
    margin-top: -195px;
}

/* ----------- PRODUTOS E SERVIÇOS / ESPORTE (FIM) ----------- */

/* ------------ RODAPÉ (INÍCIO) ------------- */

footer {
    background-color: #afafaf;
    color: white;
    height: 150px;
}

#footer-section-1 {
    margin-left: 50px;
    padding-top: 90px;
}

.logo-footer {
    position: absolute;
    transform: scale(0.6);
    margin-left: -55px;
    margin-top: -62px;
}

footer i {
    color: #424242;
    transform: scale(1.5);
}

#footer-insta {
    padding-top: 10px;
    margin-left: 13px;
}

#footer-face {
    position: absolute;
    margin-top: -18px;
    margin-left: 40px;
}

#footer-section-2{
    margin-top: -86px;
    margin-left: 350px;
}

.footer-section-titulo{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 8px;
}

.footer-section-text {
    font-size: 14px;
    padding-top: 4px;
}

#footer-section-3 {
    margin-top: -86px;
    margin-left: 745px;
}

#footer-section-3 a {
    color: white;
    font-size: 14px;
}

.footer-link-left{
    padding-top: 3px;
}

.footer-link-right{
    position: absolute;
    margin-top: -18px;
    margin-left: 110px;
}

#footer-section-4 {
    margin-top: -94px;
    margin-left: 1150px;
}

#footer-section-4 p {
    padding-top: 5px;
}

/* -------------- RODAPÉ (FIM) -------------- */

